/* Main colors, formatting and styling repeated throughtout website */
:root {
    --dark-heading-color: #003204;
    --light-heading-color: #fff;
    --highlight-color: #01fe44;
    --heading-font-family: 'Josefin Sans', sans-serif;
    --body-font-family: 'Quicksand', sans-serif;
    --body-margin: 100px;
}

/* Highlight color and background */
::selection {
    background-color: var(--highlight-color);
    color: var(--dark-heading-color);
}

/* Body element selector */
body {
    background-color: #fff;
}

/* Header element styling */
header {
    font-family: var(--heading-font-family)
}

/* H1 selector and styling */
h1 {
    font-size: 40px;
    margin-bottom: 0;
    width: 50%;
}

/* Navigation element in header styling */
.nav-bar-colours {
    background-color: var(--dark-heading-color);
    color: var(--light-heading-color);
}

.nav-link-color {
    color: var(--light-heading-color);
}

.nav-link-color:hover {
    text-decoration: underline;
    color: var(--highlight-color);
}

.navbar-separate-styling {
    position: absolute;
    right: 10px;
    font-size: 20px;
}

.nav-bar-padding {
    padding: 30px;
}

button {
    color: var(--light-heading-color);
}

button:hover {
    color: var(--highlight-color);
}


/* Figure and hero image element selector and styling */
figure #hero {
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Main content styling */
main {
    margin-top: 10px;
}

p {
    font-family: var(--body-font-family);
    color: #000;
    font-size: 16px;
    margin-bottom: 1.5rem;
    line-height: 20px;
}

h2 {
    color: var(--dark-heading-color);
    font-family: var(--heading-font-family);
    font-size: 30px;
    margin-bottom: 1.5rem;
}

section {
    margin-top: 20px;
}

/* Main-box margin */
.main-box {
    margin: 10px;
}

/* Margins around the main box titles */
.main-box-title {
    margin-left: var(--body-margin);
}

/* Main content styling for About Me and Contact Us content */
.paragraph-box {
    margin-left: 250px;
    margin-right: var(--body-margin);
    padding-left: 50px;
    border-left: 5px solid var(--dark-heading-color);
    position: relative;
    top: -50px;
    left: 50px;
}

/* About me styling */
#about-me-row {
    margin-left: 10px;
    margin-right: 10px;
}

/* About me image styling */
.img-styling {
    width: 50%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 30%;
    border: 10px solid var(--dark-heading-color);
    margin-bottom: 10px;
}

/* My work styling */
#my-work-row-1 {
    margin: 0;
}

#my-work-row-2 {
    margin: 0;
    margin-top: 10px;
}

/* Styling for My Work section */
.work-collection {
    position: relative;
    margin: 0 100px 0 250px;
    top: -50px;
    left: 50px;
}

/* Feature work styling */
.feature-work img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 10px solid var(--dark-heading-color);
}

.feature-work .my-work-title {
    color: var(--light-heading-color);
    font-family: var(--heading-font-family);
    padding: 20px;
    background-color: var(--dark-heading-color);
    font-size: 20px;
}

.feature-work .my-work-title p {
    font-size: 16px;
    color: var(--light-heading-color);
    font-family: var(--body-font-family);
    margin-bottom: 0;
}

/* Other portfolio work styling */
.my-work-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 10px solid var(--dark-heading-color);
}

.portfolio-title {
    color: var(--light-heading-color);
    font-family: var(--heading-font-family);
    padding: 20px;
    background-color: var(--dark-heading-color);
    font-size: 20px;
}

.portfolio-title p {
    font-size: 16px;
    color: var(--light-heading-color);
    font-family: var(--body-font-family);
    margin-bottom: 0;
}

/* Pseudo-elements for my work section */
.work-collection a:link {
    text-decoration-color: var(--light-heading-color);
}

.work-collection a:hover {
    box-shadow: 5px 10px 15px var(--highlight-color);
}

.work-collection a:visited {
    text-decoration-color: var(--highlight-color);
}

/* Contact me section styling */
.paragraph-box .contact-me-details {
    display: flex;
    flex-wrap: wrap;
}

.paragraph-box .contact-me-details li {
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
    color: var(--dark-heading-color);
    line-height: 1.5em;
}

.paragraph-box .contact-me-details a {
    color: #000;
    text-decoration-color: #000;
    font-weight: normal;
}

.paragraph-box .contact-me-details a:hover {
    text-decoration: none;
}


/* Footer styling */
footer p {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    background-color: var(--dark-heading-color);
    color: var(--light-heading-color);
}

/* Media queries for responsive web application - tablet */
@media screen and (max-width: 992px) {
    h1 {
        width: 60%;
    }

    .navbar-separate-styling {
        position: initial;
        right: auto;
    }

    .paragraph-box {
        position: static;
        margin-left: var(--body-margin);
        margin-right: 75px;
    }

    .paragraph-box img {
        width: 100%;
    }
}

/* Media queries for responsive web application for a large smartphones */
@media screen and (max-width: 768px) {
    h1 {
        width: 60%;
    }

    .main-box-title {
        margin-left: auto;
    }

    .navbar-separate-styling {
        position: initial;
        right: auto;
    }
}