/* Main colors, formatting and styling repeated throughtout website */
:root {
    --dark-heading-color: #003204;
    --light-heading-color: #fff;
    --highlight-color: #01fe44;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --body-margin: 100px;
}

/* Highlight color and background */
::selection {
    background-color: var(--highlight-color);
    color: var(--dark-heading-color);
}

/* Body element selector */
body {
    background-color: #fff;
}

/* Header element styling */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: var(--dark-heading-color);
    font-family: var(--font-family)
}

/* H1 selector and styling */
h1 {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    font-size: 40px;
    color: var(--light-heading-color);
}

/* Navigation element in header styling */

nav ul {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: var(--light-heading-color)
}

nav li {
    font-size: 20px;
}

/* Figure and hero image element selector and styling */
figure #hero {
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Main content styling */
main {
    margin-top: 10px;
}

p {
    font-family: var(--font-family);
    color: #000;
    font-size: 16px;
    margin-bottom: 1.5rem;
    line-height: 20px;
}

h2 {
    color: var(--dark-heading-color);
    font-family: var(--font-family);
    font-size: 30px;
    margin-bottom: 1.5rem;
}

section {
    margin-top: 20px;
}

/* Main-box margin */
.main-box {
    margin: 10px;
}

/* Margins around the main box titles */
.main-box-title {
    margin-left: var(--body-margin);
    margin-right: var(--body-margin);
}

/* Main content styling for paragraphs */
.paragraph-box {
    margin-left: 250px;
    margin-right: var(--body-margin);
    padding-left: 50px;
    border-left: 5px solid var(--dark-heading-color);
    position: relative;
    top: -50px;
    left: 50px;
}

/* Styling for My Work section */
.work-collection {
    position: relative;
    margin: 0 100px 0 250px;
    top: -50px;
    left: 50px;
}

.work-collection a {
    text-decoration-color: var(--light-heading-color);
}

/* Feature work styling */
.feature-work img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 10px solid var(--dark-heading-color);
}

.feature-work .my-work-title {
    color: var(--light-heading-color);
    font-family: var(--font-family);
    padding: 20px;
    background-color: var(--dark-heading-color);
    font-size: 20px;
    position: relative;
    bottom: 100px;
    width: 100%
}

.feature-work .my-work-title p {
    font-size: 16px;
    color: var(--light-heading-color);
    font-family: var(--font-family);
    margin-bottom: 0;
}

/* Other portfolio work styling */
.row-1 {
    display: flex;
}

.row-1 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 10px solid var(--dark-heading-color);
}

.row-2 {
    display: flex;
}

.row-2 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 10px solid var(--dark-heading-color);
}

.column {
    flex: 50%;
    padding: 5px;
}

.column .portfolio-title {
    color: var(--light-heading-color);
    font-family: var(--font-family);
    padding: 20px;
    background-color: var(--dark-heading-color);
    font-size: 20px;
    position: relative;
    bottom: 100px;
    width: 100%;
}

.column .portfolio-title p {
    font-size: 16px;
    color: var(--light-heading-color);
    font-family: var(--font-family);
    margin-bottom: 0;
}

/* Footer styling */
footer p {
    text-align: center;
    font-size: 12px;
}

/* Media queries for responsive header and navigation */
@media screen and (max-width: 768px) {
    header {
        display: block;
    }
    
    h1 {
        width: auto;
    }

    nav ul {
        position: initial;
        margin-top: 15px;
}

/* Media queries of responsive main content */
@media screen and (max-width: 768px) {
    .paragraph-box {
        position: static;
        margin-left: var(--body-margin);
        margin-right: 75px;
    }
}}

@media screen and (max-width: 768px) {
    .feature-work {
        top: 0;
        left: 0;
        margin-left: var(--body-margin);
        margin-right: 75px;
    }}