/* Main colors, formatting and styling repeated throughtout website */
:root {
    --dark-heading-color: #003204;
    --light-heading-color: #fff;
    --highlight-color: #01fe44;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Highlight color and background */
::selection {
    background-color: var(--highlight-color);
    color: var(--dark-heading-color);
}

/* Body element selector */
body {
    background-color: #fff;
}

/* Header element styling */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: var(--dark-heading-color);
    font-family: var(--font-family)
}

/* H1 selector and styling */
h1 {
    font-size: 40px;
    color: var(--light-heading-color);
}

/* Navigation element in header styling */

nav ul {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: var(--light-heading-color)
}

nav li {
    font-size: 20px;
}

/* Figure and hero image element selector and styling */
figure #hero {
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Main content styling */
main {
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 100px;
}

p {
    font-family: var(--font-family);
    color: #000;
    font-size: 16px;
    margin-bottom: 1.5rem;
    line-height: 20px;
}

h2 {
    color: var(--dark-heading-color);
    font-family: var(--font-family);
    font-size: 30px;
    margin-bottom: 1.5rem;
}

section {
    margin-top: 20px;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
}

.paragraph-box {
    margin-left: 150px;
    padding-left: 50px;
    border-left: 5px solid var(--dark-heading-color);
    position: relative;
    top: -50px;
    left: 70px;
}

/* Footer styling */
footer p {
    text-align: center;
    font-size: 12px;
}